.cover {
  position: relative;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: calc(0.625 * 100vw);
  max-height: 740px;
  max-width: 1184px;
  margin: 0 auto;
}

@media (max-width: 1279px){
  .cover {
    max-height: 640px;
    max-width: 1024px;
  }
}
