/* normalize.css */
@import url(../vendor/normalize.css);

/* Fonts */
@import url(../vendor/fonts.css);

/* Body block */
@import url(../blocks/body/body.css);

/* Page block */
@import url(../blocks/page/page.css);

/* Header */
.header {
  padding: 28px 48px 0 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 1023px){
  .header {
    padding: 28px 24px 0 24px;
  }
}
@media (max-width: 767px){
  .header {
    padding: 16px 16px 0 16px;
  }
}
.header__logo {
  width: 176px;
  height: 52px;
}
@media (max-width: 767px){
  .header__logo {
    width: 142px;
    height: 42px;
  }
}
.logo {
  background-image: url(../../../images/header-logo.svg);
  background-size: contain;
}
.header__lang {
  margin: 0;
  padding: 18px 0 0 0;
}
@media (max-width: 767px){
  .header__lang {
    padding-top: 14px;
  }
}
.lang-switcher {
  list-style: none;
  display: flex;
  gap: 18px;
}
.lang-switcher__lang-link {
  margin: 0;
  text-decoration: none;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  color: #fff;
}
.lang-switcher__lang-link:hover {
  opacity: 0.8;
}
@media (max-width: 767px){
  .lang-switcher__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
.lang-switcher__lang-link_current {
  cursor: default;
  border-bottom: 1px solid #fff;
}
.lang-switcher__lang-link_current:hover {
  opacity: 1;
}

/* Lead section */
.lead {
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lead__title {
  margin: 0;
  color: #fff;
  font-size: 96px;
  line-height: 100px;
  font-weight: 900;
  max-width: 720px;
  text-align: center;
}
@media (max-width: 767px){
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    max-width: 288px;
  }
}
.lead__subtitle {
  margin: 0;
  padding-top: 32px;
  color: #fff;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  max-width: 640px;
  text-align: center;
}
@media (max-width: 767px){
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    max-width: 288px;
  }
}
.figure {
  margin: 0;
}
.figure__image {
  padding-top: 64px;
  width: 100%;
  max-width: 984px;
}
@media (max-width: 1279px){
  .figure__image {
    max-width: 928px;
  }
}
@media (max-width: 1023px){
  .figure__image {
    max-width: none;
  }
}
@media (max-width: 767px){
  .figure__image {
    padding-top: 40px;
  }
}
.figure__caption {
  margin: 0;
  padding: 8px 0 0 0;
  color: #fff;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
@media (max-width: 1279px){
  .figure__caption {
    padding-left: 24px;
  }
}
@media (max-width: 1023px){
  .figure__caption {
    padding-left: 16px;
  }
}

/* Intro section */
.intro {
  padding: 92px 0 0 0;
  display: flex;
  justify-content: center;
}
@media (max-width: 1279px){
  .intro {
    padding: 92px 48px 0 48px;
  }
}
@media (max-width: 1023px){
  .intro {
    padding: 88px 24px 0 24px;
  }
}
@media (max-width: 767px){
  .intro {
    padding: 64px 16px 0 16px;
  }
}
.fact {
  width: 100%;
  max-width: 984px;
}
.fact__title {
  margin: 0;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #fff;
}
@media (max-width: 767px){
  .fact__title{
    font-size: 32px;
    line-height: 35px;
  }
}
.fact__text {
  margin: 0;
  padding: 40px 0 0 0;
  max-width: 690px;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  color: #fff;
}
.other-facts {
  margin: 0;
  padding: 33px 0 0 0;
  list-style: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
}
@media (max-width: 767px){
  .other-facts {
    padding: 34px 0 0 0;
  }
}
.other-facts__digit {
  font-weight: 400;
}

/* Photo-grid section */
.photo-grid {
  padding: 92px 0 0 0;
  margin: 0 auto;
  max-width: 1184px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
@media (max-width: 1279px){
  .photo-grid {
    max-width: 928px;
    gap: 14px;
  }
}
@media (max-width: 1023px){
  .photo-grid {
    padding: 88px 0 0 0;
    max-width: 720px;
    gap: 14px;
  }
}
@media (max-width: 767px){
  .photo-grid {
    padding: 64px 0 0 0;
    max-width: 288px;
    gap: 12px;
  }
}
.photo-grid__image {
  width: 284px;
  height: 213px;
  object-fit: cover;
}
@media (max-width: 1279px){
  .photo-grid__image {
    width: 300px;
    height: 225px;
  }
}
@media (max-width: 1023px){
  .photo-grid__image {
    width: 352px;
    height: 264px;
  }
}
@media (max-width: 767px){
  .photo-grid__image {
    width: 288px;
    height: 216px;
  }
}
/* Places section */
.places {
  display: none;
}
.place {
}
.places__place {
}
.place__header {
}
.place__title {
}
.website {
}
.place__website {
}
.website__url-heading {
}
.website__link {
}
.place__body {
}
.place__image {
}
.description {
}
.place__description {
}
.description__text {
}
.new-line {
}
.new-line_width_m {
}
.new-line_width_s {
}
.new-line_width_xs {
}
.new-line_width_l {
}

/* Cover section */
.cover {
  display: none;
}
.cover__link {
}
.cover__title {
}
.cover__subtitle {
}

/* Footer */
.footer {
  display: none;
}
.footer__columns {
}
.footer__column {
}
.footer__column_content_info {
}
.footer__column-links {
}
.footer__column-link {
}
.footer__column_content_copyright {
}
