.place__body {
  padding-top: 48px;
  display: flex;
  gap: 40px;
}

@media (max-width: 1279px) {
  .place__body {
    gap: 32px;
  }
}

@media (max-width: 1023px) {
  .place__body {
    gap: 28px;
  }
}

@media (max-width: 767px) {
  .place__body {
    flex-direction: column;
    padding-top: 32px;
    gap: 32px;
  }
}
