.footer__column-links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 18px;
}

@media (max-width: 767px) {
  .footer__column-links {
    flex-direction: column;
    gap: 32px;
  }
}
